[submodule "Tests/art"]
	path = Tests/art
	url = http://github.com/calyptus/art.git
[submodule "Tests/slick"]
	path = Tests/slick
	url = http://github.com/mootools/slick.git
[submodule "Tests/sheet.js"]
	path = Tests/sheet.js
	url = http://github.com/subtleGradient/Sheet.js.git
[submodule "Converter/assets/art-script"]
	path = Converter/assets/art-script
	url = http://github.com/calyptus/art-script.git
[submodule "Converter/assets/ast-js"]
	path = Converter/assets/ast-js
	url = http://github.com/calyptus/ast-js.git
